/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #FE7F2D;
    --primary-alt: #5FAD56;
    --grey: #64748b;
    --dark: #1e293b;
    --dark-alt: #334155;
    --light: #FEFAE0;
    --sidebar-width: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
}